<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />   
    <link rel="stylesheet" href="style.css" />
        
    <title> For Gamers </title>
</head>

<body>
    <div class="grid-container">
    <header class="header">
        <div class="brand">
        <button onclick="openMenu()">
            &#9776;
        </button>
        <a href="index.html">For Gamers</a>
        </div>
        <div class="header-links">
        
        <a href="login-cadast.html">Login/Cadastrar</a>
        <a href="carrinho.html">Carrinho</a>
        <a href="redes-sociais">Contato</a>
        </div>
    </header>

    <aside class="sidebar">
        <h3>Categorias</h3>
        <button class="sidebar-close-button" onclick="Menu()">X</button>
        <ul>
        <li>
            <a href="index.html">Jogos</a>
        </li>

        <li>
            <a href="index.html">PC Gamer</a>
        </li>

        <li>
            <a href="index.html">Consoles</a>
        </li>

        <li>
            <a href="index.html">Acessórios</a>
        </li>
        </ul>


    </aside>
    <nav class="nav">
        <div class="totproducts">
        <a href="jogos.html">Jogos</a>
        <a href="consoles.html">Consoles</a>
        <a href="pcgamer.html">PC Gamer</a>
        <a href="acessorios.html">Acessórios</a>
        </div>
    </nav>

    <section class="section-one">


    </section>

    


    <main class="main">
        <div class="content">
        <ul class="products">
            <li>
            <div class="product">
                <img class="product-image" src="/template/images/Headset.png" alt="product">
            <div class="product-name">
                <a href="product.html">Headset</a>
            </div>
            <div class="product-brand">Samsung</div>
            <div class="product.price">R$ 150,00</div>
            <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
            </li>

            <li>
            <div class="product">
                <img class="product-image" src="/template/images/Headset.png" alt="product">
                <div class="product-name">
                <a href="product.html">Headset</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product.price">R$ 150,00</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
            </li>

            <li>
            <div class="product">
                <img class="product-image" src="/template/images/Headset.png" alt="product">
                <div class="product-name">
                <a href="product.html">Headset</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product.price">R$ 150,00</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
            </li>

            <li>
            <div class="product">
                <img class="product-image" src="/template/images/Headset.png" alt="product">
                <div class="product-name">
                <a href="product.html">Headset</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product.price">R$ 150,00</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
            </li>

            <li>
            <div class="product">
                <img class="product-image" src="/template/images/Headset.png" alt="product">
                <div class="product-name">
                <a href="product.html">Headset</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product.price">R$ 150,00</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
            </li>

            <li>
            <div class="product">
                <img class="product-image" src="/template/images/Headset.png" alt="product">
                <div class="product-name">
                <a href="product.html">Headset</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product.price">R$ 150,00</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
            </li>
        </ul>
        </div>
        
    </main>


    <section class="section-two">

    </section>

    <section class="section-three">
        <div class="About">
        <a href="about.html">Sobre</a>
        </div>
        <div class="redes-sociais">
        <a href="https://www.instagram.com/patty.rodriguess"><img src="assets/insta.png" alt="Instragram" width="60px" height="60px"></a>
        <a href="https://github.com/patty-ti"><img src="assets/git.png" alt="GitHub" width="60px" height="60px"></a>
        <a href="https://www.linkedin.com/in/patriciarodriguessilvaprs/"><img src="assets/linkedin.png" alt="LinkedIn" width="60px" height="60px"></a>
        </div>
    </section>
    

    <footer class="footer">
        <p> Todos os direitos reservados. </p>
        <p style='font-weight: bold'> &copy; Desenvolvido por Patty Rodrigues </p>
    </footer>
</div>
<script>
    function openMenu(){
        document.querySelector(".sidebar").classList.add("open");
    }
    function Menu(){
        document.querySelector(".sidebar").classList.remove("open");
    }
</script>
    
</body>
</html>